<section class="banner style1 orient-left content-align-justify image-position-right fullscreen onload-image-fade-in onload-content-fade-right">

    <div class="content">

        <!-- Title -->
        <h1>{{ .title }}</h1>
        <!-- Title -->


        <!-- Subtitle -->
        {{ with .subtitle }}
        <p class="major">{{ . }}</p>
        {{ end }}
        <!-- Subtitle -->


        <!-- Description -->
        <p>{{ .description | safeHTML }}</p>
        <!-- Description -->


        <!-- Button -->
        {{ partial "button" (dict "href" "#spotlight-0" "key" "button_banner_begin") }}
        <!-- Button -->

    </div>


    <!-- Cover -->
    <div class="image">
        <img src="{{ .cover_image }}" alt="" fetchpriority="high" />
    </div>
    <!-- Cover -->

</section>