<head>

    <!-- Title -->
    <title>{{ .Site.Title }}</title>
    <!-- Title -->


    <!-- Meta and links -->
    {{ partial "meta" . }}
    {{ partial "link" . }}
    <!-- Meta and links -->


    <!-- CSS -->
    <link rel="stylesheet" href="{{ (slice (resources.Get `sass/main.scss`) | append (resources.Match `sass/*.*`) | resources.Concat `sass/main.scss` | resources.ExecuteAsTemplate `scss/main.scss` . | toCSS (dict `targetPath` `css/main.css` `outputStyle` `compressed` `enableSourceMap` false)).RelPermalink }}">
    <!-- CSS -->

</head>