<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />


    <!-- Meta description -->
    <meta name="description" content="{{ .Site.Params.description }}">
    <!-- Meta description -->


    <!-- Open Graph -->
    {{ template "_internal/opengraph.html" . }}
    <!-- Open Graph -->


	{{ if .Site.Params.favicon }}
	{{ partial "favicon" }}
	{{ end }}


    <!-- CSS -->
    <link rel="stylesheet" href="{{ (slice (resources.Get `sass/main.scss`) | append (resources.Match `sass/*.*`) | resources.Concat `sass/main.scss` | resources.ExecuteAsTemplate `scss/main.scss` . | toCSS (dict `targetPath` `css/main.css` `outputStyle` `compressed` `enableSourceMap` false)).RelPermalink }}">
    <!-- CSS -->


    <!-- NoScript CSS -->
    <noscript>
        <link rel="stylesheet" href="{{ (resources.Get `sass/noscript.scss` | resources.ExecuteAsTemplate `noscript.scss` . | toCSS (dict `targetPath` `css/noscript.css` `enableSourceMap` false) | minify).RelPermalink }}" />
    </noscript>
    <!-- NoScript CSS -->

</head>