{{ define "main" }}

    <!-- Banner component -->
    {{ with site.Data.banner }}
    {{ partial "banner" . }}
    {{ end }}
    <!-- Banner component -->


    <!-- Spotlight component -->
    {{ partial "_hub" (dict "name" "activities" "template" "spotlight") }}
    <!-- Spotlight component -->


    <!-- Gallery component -->
    {{ with site.Data.gallery }}
    {{ partial "gallery" . }}
    {{ end }}
    <!-- Gallery component -->


    <!-- Activity component -->
    {{ partial "_hub" (dict "name" "activities" "template" "activity") }}
    <!-- Activity component -->


    <!-- Booking component -->
    {{ with site.Data.booking}}
        {{ if .enabled }}
            {{ partial "booking" . }}
            {{ partial "success" $ }}
            {{ partial "failure" $ }}
        {{ end }}
    {{ end }}
    <!-- Booking component -->


    <!-- Footer component -->
    {{ partial "footer" . }}
    <!-- Footer component -->

{{ end }}